<div ng-controller="mainController">
  <div style="display: flex; flex-direction: column;">
    <div style="display: flex; height: 71px; align-items: center;">
      <img src="./images/graphics/logo.svg" />
      <button class="createEvent" ng-click="go('/editEvent')">
        Создать встречу
      </button>
    </div>
    <div style="position: sticky; top: 0; left: 0; height: 30px;">
      <div class="calendarBox">
        <div
          id="leftArrow"
          ng-click="changedate(-1)"
          style="
            display: inline-block;
            width: 24px;
            height: 24px;
            background: #e9ecef;
            border-radius: 100px;
          "
        >
          <svg
            style="margin: 7px 7px;"
            width="10px"
            height="10px"
            viewBox="0 0 12 12"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
              stroke-linecap="round"
              stroke-opacity="0.427536232"
            >
              <g
                id="главная"
                transform="translate(-31.000000, -88.000000)"
                stroke="#000000"
                stroke-width="2"
              >
                <g id="Дата" transform="translate(24.000000, 82.000000)">
                  <g id="arrow2" transform="translate(8.000000, 7.000000)">
                    <polyline
                      id="Rectangle-4"
                      transform="translate(5.000000, 5.000000) rotate(-315.000000) translate(-5.000000, -5.000000) "
                      points="8 8 2 8 2 2 2 2"
                    ></polyline>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div
          style="
            display: inline-block;
            width: 123px;
            margin: 0 12.5px 0 13.5px;
            text-align: center;
          "
        >
          {{currentDate.getDate()}} {{monthName}}
        </div>
        <div
          id="rightArrow"
          ng-click="changedate(+1)"
          style="
            display: inline-block;
            width: 24px;
            height: 24px;
            background: #e9ecef;
            border-radius: 100px;
            margin-right: 24px;
          "
        >
          <svg
            style="margin: 7px 7px;"
            width="10px"
            height="10px"
            viewBox="0 0 7 12"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
              stroke-linecap="round"
              stroke-opacity="0.427536232"
            >
              <g
                id="главная"
                transform="translate(-207.000000, -88.000000)"
                stroke="#000000"
                stroke-width="2"
              >
                <g id="Дата" transform="translate(24.000000, 82.000000)">
                  <g id="arrow" transform="translate(179.000000, 7.000000)">
                    <polyline
                      id="Rectangle-4-Copy"
                      transform="translate(5.000000, 5.000000) rotate(-135.000000) translate(-5.000000, -5.000000) "
                      points="8 8 2 8 2 2 2 2"
                    ></polyline>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <div style="position: sticky; top: 30px;">
        <div class="scale">
          <div ng-repeat="h in getNextHour" class="hour">
            <div style="color: {{h.style}}">
              {{h.hrs}}
            </div>
          </div>
        </div>
        <!-- <div style="display: inline-flex; align-items: center;">			
					<div ng-if="(currentTime.getTime() >= currentDate.getTime())&&(currentTime.getTime() <= endOfDay.getTime())" 
					class="currentTime" style="left:{{(((currentTime-currentDate)/60000)*65/60)+33+245-25}}px;">
						<span style="vertical-align: middle;">
							{{currentTimeFormatted}}
						</span>			
					</div>						
				</div>	 -->
      </div>
      <div style="display: flex; flex-direction: row;">
        <div style="position: sticky; left: 0;">
          <div
            ng-repeat="groupedRooms in rooms | groupBy:'floor' | toArray:true | orderBy:'floor'"
          >
            <div class="floor">
              <label>{{groupedRooms.$key}} ЭТАЖ</label>
            </div>
            <div
              class="roomContainer"
              ng-repeat="r in groupedRooms | orderBy:'title'"
            >
              <div class="roomLabel">
                <div class="roomLabelContainer">
                  <span class="roomTitle">{{r.title}}</span>
                  <br />
                  <span class="roomCapability">до {{r.capacity}} человек</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background: #e9ecef;">
          <div class="roomContainersGroup">
            <div
              ng-repeat="groupedRooms in rooms | groupBy:'floor' | toArray:true | orderBy:'floor'"
            >
              <div style="background-color: #e9ecef; height: 38px;"></div>
              <div
                class="roomContainer"
                ng-repeat="r in groupedRooms | orderBy:'title'"
              >
                <div
                  style="
                    display: inline-block;
                    border: solid #e9ecef;
                    border-width: 0;
                  "
                >
                  <div
                    ng-repeat="e in r.timeslots"
                    ng-switch="e.occupied"
                    style="display: inline-block; height: 44px;"
                  >
                    <div
                      ng-switch-when="true"
                      style="display: inline-block; height: 44px;"
                    >
                      <div
                        class="oCell closed"
                        ng-click="go('/editEvent/'+e.id)"
                        id="{{e.id}}"
                        style="display:inline-block; width:{{(e.dateEnd-e.dateStart)/60000/60*65}}px"
                      ></div>
                    </div>
                    <div
                      ng-switch-when="false"
                      style="display: inline-block; height: 44px;"
                    >
                      <div
                        class="oCell free"
                        ng-click="go('/editEvent')"
                        style="display:inline-block;width:{{(e.dateEnd-e.dateStart)/60000/60*65}}px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
