.dateDiv
{
	display:inline-flex; 
	align-items:center; 
	height:46px; 
	padding: 11px 0;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 0 -1px 0 0 #E9ECEF, 0 1px 0 0 #E9ECEF;
	z-index:1000;
}


.wholeGrid
{
	position: relative;
	/*height:0;*/ 
}
.timeLine
{
	display: inline-block;
	width:49px; 
	margin:0 8px; 
}
.timeLine::after
{
	height: 100%;
	width: 0;
	position: absolute;
	border: 1px solid rgba(19,100,205,0.10);
	top: 46px;
	content: " ";
	z-index: 1000;
}
.currentTime
{
	position: 	absolute;	;
	display: inline-block;

	background: #007DFF;
	border-radius: 100px;
	width: 49px;
	
	height:20px;
	line-height:20px;
	text-align:center;	

	font-family: HelveticaNeue-Bold;
	font-size: 11px;
	color: #FFFFFF;
	letter-spacing: 0.4px;
}
.currentTime::after
{	
	height: 100%;			
	width: 0;
	position: absolute;
	border: 1px solid #007DFF;
	top: 20px;
	content: " ";
	z-index: 998;
	margin-left:-15px;
}

body
{
	margin: 0 0 0 25px;
}

button
{
	padding: 0 16px;
	margin: 0 8px;
}


button.createEvent
{
	background: #007DFF;
	border-radius: 4px;
	
	height: 36px;
	width:140px;
	
	font-family: HelveticaNeue-Medium;
	font-size: 13px;
	letter-spacing: 0;
}
button.createEvent:hover
{
	background: #007DFF;
	background: #0059FF;
}
button.createEvent:active
{
	background: rgba(11,0,255,0.80);
	background: #0059FF;
}


.heading
{
	height:71px;			
}
.heading img
{
	height: 24.4px;
	width: 173.9px
}

.floor
{
	height:38px;
	font-family: HelveticaNeue-Bold;
	font-size: 11px;
	color: #858E98;
	letter-spacing: 0.4px;
	background: #FFFFFF;
	box-shadow: 1px 0 0 0 #E9ECEF;
}

.room
{
	height:44px;	
}

.roomName
{
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	color: #000000;
	line-height: 17px;
}
.roomCap
{
	font-family: HelveticaNeue;
	font-size: 13px;
	color: #000000;
	line-height: 17px;
}

.oRoomName
{
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	color: #858E98;
	line-height: 17px;
}
.oRoomCap
{
	font-family: HelveticaNeue;
	font-size: 13px;
	color: #858E98;
	line-height: 17px;
}

.room:hover .roomName
{
	color: #0070E0;
}
.roomName:active
{
	color: #1D54FE;
}

.divider>td:first-child
{
	height:4px;
	background-color: white;
}
.divider>td:not(first-child)
{
	height:4px;
	background-color: #E9ECEF;
}

.avatar
{		
	border-radius: 16px;
}